<style type="text/css">
{}
b
{
FONT-FAMILY:arial;
COLOR:green;
FONT-SIZE:100%;
}
h2
{
FONT-FAMILY:arial;
COLOR:blue;
FONT-SIZE:100%
}
h1
{
FONT-FAMILY:arial;
COLOR:red;
FONT-SIZE:100%
}
BODY
{
BACKGROUND-COLOR:lightgreen;
}
</style>